<div class="col-xs-12 col-md-12 col-sm-12">
  <!-- PAGE CONTENT BEGINS -->
  <div class="pricing-tables ">
    <div class="row center">                    
      <!--<pre><?php print_r($_SESSION);?></pre>-->
      <div  class="col-xs-12 col-xs-offset-3 col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3  container_cliente">
          <h1 class="blue"><i class="icon-user"></i>Ingrese un Cliente <small>()</small></h1>
          <h6>
          Numero, Nombre, Telefono, Correo Electronico
          </h6>
          <div class="space-10"></div>
        <!--<div class="col-xs-12"> 
          <input id="txt_cliente" class="col-xs-12 input-lg typeahead" type="text" placeholder="Cliente">
        </div>-->
        
        <div class="col-xs-12" tabindex="0" ng-controller="BuscarClientesViewCtrl">
          

          <script type="text/ng-template" id="customTemplate.html">
      
          <!--<a>  

              <span class="tt-suggestion" bind-html-unsafe="match.model.nombre | typeaheadHighlight:query"></span>
              <small>(<span bind-html-unsafe="match.model.numeroCliente"></span>)</small>
              <p><small>Direccion: Ipsum Lorem</small><p>
              <p><small>Culiac&aacute;n, Sinaloa</small><p>
            
          </a>-->
			<a>
			  <span class="tt-suggestion" bind-html-unsafe="match.model.title | typeaheadHighlight:query"></span>
			  <small>(<span bind-html-unsafe="match.model.type"></span>)</small>
			  <p><small>Direccion: Ipsum Lorem</small><p>
			  <p><small>Culiac&aacute;n, Sinaloa</small><p>
		  </a>
          
        </script>
        <div class="col-xs-12" ui-keydown="{'enter':'enviarCliente($item)'}">
          <!--<input type="text" ng-model="selectedCliente" typeahead-on-select="enviarCliente($item)" typeahead="cliente as cliente.nombre for cliente in getClientes($viewValue) |filter:{nombre:$viewValue}" class="col-xs-12 input-lg form-control typeahead" typeahead-template-url="customTemplate.html">-->
			<input type="text"  ng-model="asyncSelected" typeahead-on-select="enviarCliente($item)" typeahead="item as item.title  for item in getLocation($viewValue) | filter:{title:$viewValue}" class="col-xs-12 input-lg form-control typeahead" typeahead-template-url="customTemplate.html">

        </div>
                         
        </div>
                              
      </div>
    </div>  
  </div>
</div><!-- /.col -->