<div class="col-xs-12" ng-init="showDemonimaciones()">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-4 pricing-box" ng-repeat="documento in dataDocumentos">
			<div class="widget-box">
				<div class="widget-header header-color-dark">
					<h5 class="bigger lighter"> {{documento.nombre}}</h5>
				</div>

				<div class="widget-body">
					<div class="widget-main">
						
						<div class="price">
							{{sumDocumentos[documento.nombre] | currency}}
						</div>
						<hr>
						<form class="form-horizontal" role="form">
							<div class="form-group" ng-repeat="denominacion in documento.denominaciones">
								<label class="col-sm-6 control-label no-padding-right" for="form-field-1">{{denominacion.descDenominacion}}</label>
								<div class="col-sm-6">
									<input onfocus="this.select();" ng-change="total(documento.nombre,denominacion.idDocumento,denominacion.denominacion)" ng-model="inputDenominaciones[documento.nombre][denominacion.idDocumento].valor" style="text-align:right; padding-left:7px; padding-right:10px;" maxlength="6" type="text" class="col-xs-6"/>
								</div>
							</div>
						</form>
						
					</div>
					
					<!--<div>
						<a class="btn btn-block btn-inverse" href="#">
							<i class="icon-shopping-cart bigger-110"></i>
							<span>Buy</span>
						</a>
					</div>
					-->
				</div>
			</div>
		</div>
		<!-- end ng rpeat -->
		{{inputDenominaciones}}
	</div>
	<div class="row">
		<button ng-click="grabarRetiros()" class="btn btn-white btn-noborder"><span style="font-size:20px;">Total: {{total_documentos()|currency}}</span></button>
	</div>
</div><!-- /.col -->
						